#fourohfour {
    width: 75%;
    margin-bottom: 1%;
}

#pitch {
    width: 50%;
    margin-bottom: 1%;
}

#playerTable td,
#userTable td {
    vertical-align: middle;
}

#userTable .admin,
#userTable .edit,
#userTable .delete,
#playerTable .approve,
#playerTable .edit,
#playerTable .delete {
    text-align: center;
}
