#fourohfour {
    width: 75%;
    margin-bottom: 1%;
}

#pitch {
    width: 50%;
    margin-bottom: 1%;
}

table {
    margin-top: 5%;
}

#userTable td,
#playerTable td,
#lineupTable td {
    vertical-align: middle;
}

#userTable .admin,
#userTable .edit,
#userTable .delete,
#playerTable .approve,
#playerTable .edit,
#playerTable .delete,
#lineupTable .rating,
#lineupTable .rateForm {
    text-align: center;
}

.rate {
    text-align: right;
}

.rating {
    color: whitesmoke;
}

.onetwo {
    background-color: #d91500;
}

.twothree {
    background-color: #c02d00;
}

.threefour {
    background-color: #a84600;
}

.fourfive {
    background-color: #8f5e00;
}

.fivesix {
    background-color: #770;
}

.sixseven {
    background-color: #5f8f00;
}

.seveneight {
    background-color: #46a800;
}

.eightnine {
    background-color: #2ec000;
}

.nineten {
    background-color: #16d900;
}

.rateForm .select {
    margin-right: 10%;
}

.rateForm .submit {
    margin-left: 10%;
}

input[type="range"] {
    width: 100%;
}
